@import '_normalize';
@import '_reset';

@font-face {
  font-family: 'myMetropolisBlack';
  src: url('../fonts/Metropolis-Medium.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'myMetropolisLight';
  src: url('../fonts/Metropolis-Light.otf');
  font-style: normal;
  font-weight: 200;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1620px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.header {
  min-height: 150px;

  &__container {
    padding-top: 50px;
  }
  &__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }
  &__line {
    width: 50%;
    height: 3px;
    background-color: black;
    margin-right: 50px;
  }
  &__navigation-item {
    display: inline-flex;
    li {
      margin-right: 15px;
      font-size: 30px;
      font-family: 'myMetropolisLight';
    }
    a:hover {
      color: #000e9f;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.main {
  min-height: 800px;
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
  }
  &__left-wrapper {
    margin-right: 10px;
  }
  &__right-wrapper {
    width: 50%;
    height: 1280px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    transform: rotate(-90deg);
    font-size: 150px;
    font-family: 'myMetropolisBlack';
  }
  &__line {
    transform: rotate(-90deg);
    height: 3px;
    width: 500px;
    background-color: black;
    margin-top: -150px;
  }
  &__logo {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 700px;
    left: 300px;
  }
}

.right-wrapper {
  &__title {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }
  &__line {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.secondSection {
  &__up {
    width: 100%;
    height: 200px;
    background-color: #000e9f;
  }
  &__up-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 50px;
    color: white;
    font-family: 'myMetropolisBlack';
    padding: 20px;
  }
  &__logo {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -145px;
    right: -3px;
  }
  &__about {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000e9f;
  }
  &__about-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 35px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    font-family: 'myMetropolisLight';
  }
  &__about-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 32px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 30px;
    font-family: 'myMetropolisLight';
  }
  &__footer {
    width: 100%;
    min-height: 400px;
    background-color: #000e9f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-img {
    object-fit: contain;
    width: 25%;
    height: 100%;
  }
}
.threeSection {
  &__container {
    padding-top: 150px;
  }
  &__logo {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -145px;
    right: -1px;
  }
  &__exhibitions-title {
    background-color: #000e9f;
    color: white;
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__line {
    transform: rotate(-90deg);
    height: 3px;
    width: 300px;
    background-color: #000e9f;
  }
  &__circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 100px;
    left: 47.5%;
  }
  &__year {
    color: #000e9f;
    position: absolute;
    top: 85px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__personal {
    width: 100%;
    height: 300px;
    display: flex;
  }
  &__personal-left {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__personal-right {
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    line-height: 45px;
    font-family: 'myMetropolisLight';
  }
  &__joint {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__joint-left {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__joint-right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 30px;
    line-height: 45px;
    font-family: 'myMetropolisLight';
    p {
      margin-bottom: 40px;
    }
  }
  &__joint-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 55px;
    left: 47.5%;
  }
  &__joint-circle2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 138px;
    left: 47.5%;
  }
  &__joint-circle3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 225px;
    left: 47.5%;
  }
  &__joint-year {
    color: #000e9f;
    position: absolute;
    top: 40px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__joint-year2 {
    color: #000e9f;
    position: absolute;
    top: 123px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__joint-year3 {
    color: #000e9f;
    position: absolute;
    top: 210px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }

  &__projects {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__projects-left {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__projects-line {
    background-color: #000e9f;
    height: 1000px;
    width: 3px;
  }

  &__projects-right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'myMetropolisLight';
    p {
      margin-bottom: 60px;
    }
  }
  &__projects-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 25px;
    left: 47.5%;
  }

  &__projects-circle2 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 130px;
    left: 47.5%;
  }
  &__projects-circle3 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 235px;
    left: 47.5%;
  }
  &__projects-circle4 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 340px;
    left: 47.5%;
  }
  &__projects-circle5 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 675px;
    left: 47.5%;
  }
  &__projects-circle6 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000e9f;
    position: absolute;
    top: 825px;
    left: 47.5%;
  }
  &__projects-year {
    color: #000e9f;
    position: absolute;
    top: 10px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__projects-year2 {
    color: #000e9f;
    position: absolute;
    top: 115px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__projects-year3 {
    color: #000e9f;
    position: absolute;
    top: 220px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__projects-year4 {
    color: #000e9f;
    position: absolute;
    top: 325px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__projects-year5 {
    color: #000e9f;
    position: absolute;
    top: 660px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__projects-year6 {
    color: #000e9f;
    position: absolute;
    top: 810px;
    left: 60%;
    font-size: 50px;
    font-family: 'myMetropolisBlack';
  }
}
.fourSection {
  &__container {
    padding-top: 150px;
  }
  &__img {
    margin-bottom: 40px;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-family: 'myMetropolisBlack';
  }
  &__subtitle {
    font-size: 25px;
    color: gray;
    margin-left: 50px;
    margin-bottom: 50px;
    font-family: 'myMetropolisLight';
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  &__footer-line {
    height: 3px;
    width: 70%;
    background-color: #000e9f;
    margin-right: 80px;
  }
  &__footer-title {
    width: 30%;
    font-size: 30px;
    color: #000e9f;
    font-family: 'myMetropolisBlack';
  }
}
.artSection {
  &__container {
    padding-top: 150px;
  }
  &__artBoxFull {
    width: 100%;
    height: 600px;
  }
  &__artBoxFull-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__artbox {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__artbox-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-right: 20px;
  }
  &__artbox-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__artbox-left-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }
  &__artbox-right-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'myMetropolisBlack';
    margin-top: 5%;
  }
  &__subtitle {
    font-size: 10px;
    color: gray;
    margin-bottom: 30px;
    font-family: 'myMetropolisLight';
  }
  &__artbox2 {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__img-title {
    background-color: #000e9f;
    color: white;
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-family: 'myMetropolisBlack';
    margin-bottom: 50px;
    padding: 40px;
  }
  &__artBox2-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
  &__artbox3 {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__artbox3-left {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__artbox3-left-img {
    object-fit: contain;
    width: 100%;
  }
  &__artbox3-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__artbox4 {
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25%;
  }
  &__artbox4-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__artbox4-left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  &__artbox4-right {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__artbox3-right-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__artbox5 {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__artbox5-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__artbox5-left-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__artbox5-right-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__artbox5-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
}

.fiveSection {
  &__container {
    padding-top: 150px;
  }
  &__img {
    object-fit: contain;
    width: 70%;
    margin-bottom: 40px;
  }
  &__SuperRare-title {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    font-family: 'myMetropolisBlack';
    color: #000e9f;
  }
  &__SuperRare-subtitle {
    font-size: 25px;
    margin-left: 50px;
    font-family: 'myMetropolisLight';
  }
}
.sixSection {
  &__nftbox {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__nftbox-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000e9f;
    color: white;
    font-family: 'myMetropolisBlack';
    padding: 20px;
  }
  &__nftbox-left-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  &__nftbox-left-video {
    width: 100%;
    margin-bottom: 30px;
  }
  &__nftbox-left-video-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  &__nftbox-left-subtitle {
    color: gray;
    font-size: 20px;
  }
  &__nftbox-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'myMetropolisBlack';
  }
  &__nftbox-right-title {
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
    user-select: none;
  }
  &__nftbox-right-video {
    width: 100%;
    margin-bottom: 30px;
  }
  &__footer {
    margin-top: -10px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-left {
    width: 50%;
    height: 100%;
    background-color: #000e9f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
  &__footer-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
  }
  &__footer-title {
    color: white;
    font-size: 30px;
    font-family: 'myMetropolisBlack';
    margin-right: 50px;
  }
  &__footer-line-left {
    height: 3px;
    background-color: white;
    width: 80%;
  }
  &__footer-line-right {
    height: 3px;
    background-color: #000e9f;
    width: 80%;
  }
  &__footer-subtitle {
    color: #000e9f;
    font-size: 30px;
    font-family: 'myMetropolisBlack';
    margin-left: 50px;
  }
}

.sevenSection {
  &__container {
    padding-top: 150px;
  }
  &__nftbox {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__nftbox-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'myMetropolisBlack';
  }
  &__nftbox-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'myMetropolisBlack';
  }
  &__nftbox-left-video-title {
    font-size: 35px;
    margin-bottom: 36px;
  }
  &__footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    font-family: 'myMetropolisLight';
    font-size: 30px;
    line-height: 40px;
  }
  &__footer-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    color: #000e9f;
    font-family: 'myMetropolisBlack';
    font-size: 30px;
  }
  &__footer-line {
    height: 3px;
    width: 50%;
    background-color: #000e9f;
    margin-right: 20px;
  }
  &__footer-title {
    margin-right: 20px;
  }
}
.nftParis {
  &__container {
    padding-top: 150px;
  }
  &__content {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  &__content-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-right: 30px;
  }
  &__content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }
  &__content-right-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  &__content-left-text {
    font-family: 'myMetropolisLight';
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 50px;
  }
  &__content-text {
    width: 100%;
    height: 685px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &__footer {
    width: 100%;
    display: flex;
    min-height: 200px;
    align-items: center;
  }
  &__footer-line {
    height: 3px;
    width: 60%;
    background-color: #000e9f;
    margin-right: 30px;
  }
  &__footer-title {
    color: #000e9f;
    font-family: 'myMetropolisBlack';
    font-size: 30px;
  }
}
.lexusSection {
  &__container {
    padding-top: 150px;
  }
  &__imgbox {
    width: 70%;
    height: 100%;
  }
  &__img {
    object-fit: contain;
    width: 100%;
    margin-bottom: 50px;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  &__footer-line {
    height: 3px;
    width: 50%;
    background-color: #000e9f;
    margin-right: 80px;
  }
  &__footer-title {
    width: 50%;
    font-size: 30px;
    color: #000e9f;
    font-family: 'myMetropolisBlack';
  }
}
.lexusSectionContent {
  &__container {
    padding-top: 150px;
  }
  &__content {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  &__content-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -27px;
  }
  &__content-left-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  &__content-left-title {
    color: #000e9f;
    font-family: 'myMetropolisBlack';
    font-size: 30px;
    margin-bottom: 30px;
  }
  &__content-left-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }
  &__content-left-subtitle {
    font-size: 25px;
    font-family: 'myMetropolisLight';
    line-height: 30px;
  }
  &__footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-line {
    height: 3px;
    width: 80%;
    background-color: #000e9f;
  }
  &__footer-img {
    object-fit: contain;
    height: 50%;
    width: 50%;
  }
}
.luchSection {
  &__container {
    padding-top: 150px;
    background-color: #000e9f;
  }
  &__text {
    color: white;
    font-family: 'myMetropolisLight';
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__footer {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-img {
    object-fit: contain;
    height: 50%;
    width: 33%;
  }
  &__footer-line {
    height: 3px;
    width: 25%;
    background-color: white;
    margin-right: 30px;
  }
  &__footer-title {
    font-family: 'myMetropolisBlack';
    font-size: 35px;
    color: white;
    width: 33%;
  }
}
.luchSectionContent {
  &__container {
    padding-top: 150px;
  }
  &__content-right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__imgbox {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__imgbox-img {
    object-fit: contain;
    width: 30%;
    height: 100%;
    margin-right: 50px;
  }
  &__imgbox-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: 'myMetropolisBlack';
    color: gray;
    padding: 50px;
  }
}

.inglotSection {
  &__container {
    padding-top: 150px;
  }
  &__content {
    width: 100%;
    min-height: 300px;
    background-color: #000e9f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content-left {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content-right {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__content-right-img {
    object-fit: contain;
    width: 100%;
  }
  &__content-left-title {
    color: white;
    font-size: 30px;
    font-family: 'myMetropolisBlack';
    transform: rotate(270deg);
    line-height: 50px;
  }
}
.inglotSectionContent {
  &__container {
    padding-top: 150px;
  }
  &__footer {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  &__footer-line {
    background-color: #000e9f;
    height: 3px;
    width: 30%;
    margin-right: 30px;
  }
  &__footer-title {
    color: #000e9f;
    font-size: 30px;
    font-family: 'myMetropolisBlack';
  }
}
.inglot-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-right: 30px;
}
.fashionSection {
  &__container {
    padding-top: 150px;
  }
}
.fashionSectionContent {
  &__Container {
    padding-top: 150px;
  }
  &__content {
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  &__content-img {
    object-fit: contain;
    width: 50%;
    margin-right: 30px;
  }
  &__content-text {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 45px;
    font-family: 'myMetropolisLight';
  }
  &__footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__footer-line {
    height: 3px;
    width: 100%;
    background-color: #000e9f;
  }
}

.footerSection {
  &__container {
    padding: 150px;
    background-color: #000e9f;
    position: relative;
  }
  &__logo {
    width: 1000px;
    height: 1000px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
  }
  &__socialMedia {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    a {
      margin: 0;
      padding: 0;
      text-decoration: none;
    }
  }
  &__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__social-icon {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  &__social-title {
    color: white;
    font-size: 25px;
    font-family: 'myMetropolisLight';
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
  }
  &__footer-line {
    height: 3px;
    width: 20%;
    background-color: white;
  }
  &__footer-title {
    font-size: 30px;
    color: white;
    font-family: 'myMetropolisBlack';
    margin-right: 30px;
    margin-left: 30px;
  }
  &__icon-up {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon-up-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  &__icon-down {
    color: white;
    font-family: 'myMetropolisLight';
    font-size: 30px;
  }
}
